@font-face {
  font-family: 'Futura Light';
  src: url("fonts/Futura (Light).ttf"); }
.menu-item, #header #right-nav-bar #menu-wrapper .menu-item, #footer #bottom-nav-bar #menu-wrapper .menu-item {
  cursor: pointer;
  height: 100%;
  font-size: 25px;
  color: white; }

body {
  font-weight: 100;
  margin: 0 0 0 0; }

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center; }
  #background-overlay {
    height: 100%;
    width: 100%;
    position: absolute; }
    .home-page #background-overlay {
      background: radial-gradient(white, black, black);
      opacity: 0.4; }
    .production-page #background-overlay {
      background-color: #00AEEF;
      opacity: 0.4;
    }


.home-page {
  background-image: url("imgs/iStock_67834587_MEDIUM.jpg");
}

.production-page {
  background-image: url("imgs/iStock_79251697_XXLARGE.jpg");
}

.vr {
  background-image: url("imgs/iStock_93639499_MEDIUM.jpg");
}

#header {
  font-family: 'Futura Light';
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100px; }
  #header #logo {
    cursor: pointer;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("imgs/TAG_white_1920x1080.png");
    float: left;
    width: 100px;
    height: 100px; }
  #header #right-nav-bar {
    float: right;
    height: 100px;
    width: 400px; }
    #header #right-nav-bar #menu-wrapper {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: relative;
      top: 50%;
      height: 33.33333px;
      width: 100%; }
      #header #right-nav-bar #menu-wrapper .menu-item {
        transition-duration: 1s;
        display: inline;
        margin-left: 5px;
        margin-right: 5px; }
      #header #right-nav-bar #menu-wrapper .menu-item:hover {
        color: black; }


#footer {
  position: absolute;
  bottom: 0%;
  height: 210px;
  width: 100%; }
  #footer #bottom-nav-bar {
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    position: absolute;
    height: 100%;
    width: 720px; }
    #footer #bottom-nav-bar #menu-wrapper {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: relative;
      height: 72px;
      width: 100%; }
      #footer #bottom-nav-bar #menu-wrapper #blue {
        color: #1DAFEB;
        border-color: #1DAFEB; }
      #footer #bottom-nav-bar #menu-wrapper #pink {
        color: #E9168C;
        border-color: #E9168C; }
      #footer #bottom-nav-bar #menu-wrapper #yellow {
        color: #FEF035;
        border-color: #FEF035; }
      #footer #bottom-nav-bar #menu-wrapper #black {
        color: black;
        border-color: black; }
      #footer #bottom-nav-bar #menu-wrapper .menu-item:hover {
        box-shadow: inset 0px 0px 20px 30px; }
      #footer #bottom-nav-bar #menu-wrapper .menu-item {
        transition-duration: 2s;
        font-family: 'Futura';
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
        width: 10%;
        border-radius: 50%;
        border: 7px solid white;
        float: left; }
        #footer #bottom-nav-bar #menu-wrapper .menu-item .bottom-nav-titles {
          white-space: nowrap;
          font-family: 'Futura';
          top: 70px;
          left: 50%;
          transform: translatex(-50%);
          -webkit-transform: translatex(-50%);
          position: relative;
          display: inline-block;
          font-size: 17px;
          text-align: center; }

/*# sourceMappingURL=style.css.map */


#footer-production {
  position: absolute;
  bottom: 0%;
  height: 210px;
  width: 100%; }
  #footer-production #bottom-nav-bar {
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    position: absolute;
    height: 100%;
    width: 720px; }
    #footer-production #bottom-nav-bar #menu-wrapper {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: relative;
      height: 54px;
      width: 75%;
      color: #FFF;
      border-color: #FFF; }
      #footer-production #bottom-nav-bar #menu-wrapper .menu-item {
        font-family: 'Futura';
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 10%;
        border-radius: 50%;
        border: 4px solid white;
        float: left; }
        #footer-production #bottom-nav-bar #menu-wrapper .menu-item .bottom-nav-titles {
          white-space: nowrap;
          font-family: 'Futura';
          top: 70px;
          left: 50%;
          transform: translatex(-50%);
          -webkit-transform: translatex(-50%);
          position: relative;
          display: inline-block;
          font-size: 12px;
          text-align: center; }


