
//////////////////////////////////////////////////////////////////////
$header-height: 100px;
$nav-bar-width: 400px;
$footer-height: 210px;
//////////////////////////////////////////////////////////////////////
@font-face {
    font-family: 'Futura Light';
    src: url('fonts/Futura (Light).ttf'); }
//////////////////////////////////////////////////////////////////////
@mixin center {
	top: 50%;
	left: 50%;
	transform: translate(50%,50%);
	-webkit-transform: translate(50%,50%); }
@mixin center-vertically() {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); }
@mixin center-horizontally() {
	left: 50%;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%); }
///Classes to be used with @extend////////////////////////////////////
.menu-item {
	cursor: pointer;
	height: 100%;
	font-size: 25px;
	color: white; }
//////////////////////////////////////////////////////////////////////
body {
	font-weight: 100;
	margin: 0 0 0 0; }
.container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	#background-overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		background: radial-gradient(black, black, white);
		opacity: 0.6; } }
#index-container {
	background-image: url('imgs/iStock_67834587_MEDIUM.jpg');
	@extend .container; }
#work-container {
	@extend .container;
	background: white; }
.content {
	box-sizing: border-box;
	padding-top: $header-height;
	padding-bottom: $footer-height;
	position: fixed;
	width: 100%;
	height: 100%; }
#footer {
	z-index: 1;
	position: fixed;
	bottom: 0%;
	height: $footer-height;
	width: 100%; }
//////////////////////////////////////////////////////////////////////
#header {
	z-index: 1;
	font-family: 'Futura Light';
	top: 0%;
	position: fixed;
	width: 100%;
	height: $header-height;
	.logo {
		cursor: pointer;
		margin-left: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url('imgs/TAG_white_1920x1080.png');
		float: left;
		width: $header-height;
		height: $header-height; }
	.logo-dark {
		@extend .logo;
		background-image: url('imgs/TAG_logo_tag_black_blacktag.png'); }
	#right-nav-bar {
		float: right;
		height: $header-height;
		width: 400px;
		#menu-wrapper {
			@include center-vertically;
			position: relative;
			top: 50%;
			height: $header-height / 3;
			width: 100%;
			.menu-item {
				@extend .menu-item;
				color: white;
				transition-duration: 1s;
				display: inline;
				margin-left: 5px;
				margin-right: 5px; }
			.menu-item-dark {
				@extend .menu-item;
				color: black; }
			.menu-item:hover {
				text-shadow: 0px 3px 5px black;
				color: #F0DE0F; }
			.menu-item-dark:hover {
				text-shadow: 0px 3px 5px black;
				color: #F0DE0F; } } } }
//////////////////////////////////////////////////////////////////////

#work-content {
	@extend .content;
	#left-text-container { 
		float: left;
		width: 40%;
		height: 100%;
		#left-text-wrapper {
			height: 100%;
			padding-left: 30%;
			padding-right: 10%;
			padding-top: 100px; } }
	#right-media-container {
		float: left;
		width: 60%; 
		height: 100%; 
		#right-media-wrapper {
			height: 100%;
			padding-right: 30%;
			padding-top: 100px; 
			.video-media-wrapper {
				float: left;
				height: 45%;
				width: 30%;
				margin: 0 2.5% 0 0; } } } } 
//////////////////////////////////////////////////////////////////////
#footer {
	@extend #footer;
	#bottom-nav-bar {
		@include center-horizontally;
		position: absolute;
		height: inherit;
		width: 720px;
			#menu-wrapper {
			@include center-vertically;
			position: relative;
			height: 72px;
			width: 100%;
				#blue {
					color: #1DAFEB;
					border-color: #1DAFEB; }
				#pink {
					color: #E9168C;
					border-color: #E9168C; }
				#yellow {
					color: #F0DE0F;
					border-color: #F0DE0F; }
				#black {
					color: black;
					border-color: black; }
				.menu-item {
					transition-duration: 1s;
					font-family: 'Futura';
					@extend .menu-item;
					-webkit-box-sizing: border-box; 
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					margin-left: 5%;
					margin-right: 5%;
					width: 10%;
					border-radius: 50%;
					border: 7px solid white;
					float: left;
					.bottom-nav-titles {
						white-space: nowrap;
						font-family: 'Futura';
						top: 70px;
						@include center-horizontally;
						position: relative;
						display: inline-block;
						font-size: 17px;
						text-align: center; } } 	
				.menu-item:hover {
					// box-shadow: inset 0px 0px 20px 30px, 0px 3px 5px black;
					box-shadow: 0px 3px 5px black;
					text-shadow: 0px 3px 5px black; } } } }



