@font-face {
  font-family: 'Futura Light';
  src: url("fonts/Futura (Light).ttf"); }
.menu-item, #header #right-nav-bar #menu-wrapper .menu-item, #header #right-nav-bar #menu-wrapper .menu-item-dark, #footer #bottom-nav-bar #menu-wrapper .menu-item {
  cursor: pointer;
  height: 100%;
  font-size: 25px;
  color: white; }

body {
  font-weight: 100;
  margin: 0 0 0 0; }

.container, #index-container, #work-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center; }
  .container #background-overlay, #index-container #background-overlay, #work-container #background-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(black, black, white);
    opacity: 0.6; }

#index-container {
  background-image: url("imgs/iStock_67834587_MEDIUM.jpg"); }

#work-container {
  background: white; }

.content, #work-content {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 210px;
  position: fixed;
  width: 1920px;
  height: 1080px; }

#footer {
  z-index: 1;
  position: fixed;
  bottom: 0%;
  height: 210px;
  width: 100%; }

#header {
  z-index: 1;
  font-family: 'Futura Light';
  top: 0%;
  position: fixed;
  width: 100%;
  height: 100px; }
  #header .logo, #header .logo-dark {
    cursor: pointer;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("imgs/TAG_white_1920x1080.png");
    float: left;
    width: 100px;
    height: 100px; }
  #header .logo-dark {
    background-image: url("imgs/TAG_logo_tag_black_blacktag.png"); }
  #header #right-nav-bar {
    float: right;
    height: 100px;
    width: 400px; }
    #header #right-nav-bar #menu-wrapper {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: relative;
      top: 50%;
      height: 33.33333px;
      width: 100%; }
      #header #right-nav-bar #menu-wrapper .menu-item, #header #right-nav-bar #menu-wrapper .menu-item-dark {
        color: white;
        transition-duration: 1s;
        display: inline;
        margin-left: 5px;
        margin-right: 5px; }
      #header #right-nav-bar #menu-wrapper .menu-item-dark {
        color: black; }
      #header #right-nav-bar #menu-wrapper .menu-item:hover, #header #right-nav-bar #menu-wrapper .menu-item-dark:hover {
        text-shadow: 0px 3px 5px black;
        color: #F0DE0F; }
      #header #right-nav-bar #menu-wrapper .menu-item-dark:hover {
        text-shadow: 0px 3px 5px black;
        color: #F0DE0F; }

#work-content #left-text-container {
  float: left;
  width: 40%;
  height: 100%; }
  #work-content #left-text-container #left-text-wrapper {
    height: 100%;
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 100px; }
#work-content #right-media-container {
  float: left;
  width: 60%;
  height: 100%; }
  #work-content #right-media-container #right-media-wrapper {
    box-sizing: border-box;
    height: 100%;
    padding-right: 30%;
    padding-top: 100px; }
    #work-content #right-media-container #right-media-wrapper .video-media-wrapper {
      float: left;
      height: 45%;
      width: 32%;
      margin: 0 10px 10px 0;
      background-color: #3A3A3C; }
      #work-content #right-media-container #right-media-wrapper .video-media-wrapper .video-media-bottom {
        height: 25%;
        top: 75%;
        position: relative;
        width: 100%;
        background-color: #58585A; }
        #work-content #right-media-container #right-media-wrapper .video-media-wrapper .video-media-bottom .video-media-bottom-color-bars {
          position: relative;
          height: 11%;
          top: 90%;
          width: 50%;
          float: left;
          background-color: #1DAFEB; }
        #work-content #right-media-container #right-media-wrapper .video-media-wrapper .video-media-bottom .video-media-bottom-color-bars:nth-child(even) {
          background-color: #F0DE0F; }
        #work-content #right-media-container #right-media-wrapper .video-media-wrapper .video-media-bottom .video-media-bottom-color-bars.pink {
          background-color: #E9168C; }
    #work-content #right-media-container #right-media-wrapper #video-media-nav {
      margin: 0 10px 0 0;
      position: relative;
      float: right;
      bottom: 0%;
      width: 110px;
      height: 50px; }
      #work-content #right-media-container #right-media-wrapper #video-media-nav .arrow:nth-child(2) {
        margin-left: 10px; }
      #work-content #right-media-container #right-media-wrapper #video-media-nav .arrow {
        font-family: 'Futura Light';
        font-size: 35px;
        opacity: 0.7;
        line-height: 50px;
        text-align: center;
        color: #58585A;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid #58585A;
        float: left;
        width: 50px;
        height: 100%; }

#footer #bottom-nav-bar {
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  position: absolute;
  height: inherit;
  width: 720px; }
  #footer #bottom-nav-bar #menu-wrapper {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: relative;
    height: 72px;
    width: 100%; }
    #footer #bottom-nav-bar #menu-wrapper #blue {
      color: #1DAFEB;
      border-color: #1DAFEB; }
    #footer #bottom-nav-bar #menu-wrapper #pink {
      color: #E9168C;
      border-color: #E9168C; }
    #footer #bottom-nav-bar #menu-wrapper #yellow {
      color: #F0DE0F;
      border-color: #F0DE0F; }
    #footer #bottom-nav-bar #menu-wrapper #black {
      color: black;
      border-color: black; }
    #footer #bottom-nav-bar #header #right-nav-bar #menu-wrapper .menu-item-dark, #header #right-nav-bar #footer #bottom-nav-bar #menu-wrapper .menu-item-dark, #footer #bottom-nav-bar #menu-wrapper .menu-item {
      transition-duration: 1s;
      font-family: 'Futura';
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-left: 5%;
      margin-right: 5%;
      width: 10%;
      border-radius: 50%;
      border: 7px solid white;
      float: left; }
      #footer #bottom-nav-bar #header #right-nav-bar #menu-wrapper .menu-item-dark .bottom-nav-titles, #header #right-nav-bar #footer #bottom-nav-bar #menu-wrapper .menu-item-dark .bottom-nav-titles, #footer #bottom-nav-bar #menu-wrapper .menu-item .bottom-nav-titles {
        white-space: nowrap;
        font-family: 'Futura';
        top: 70px;
        left: 50%;
        transform: translatex(-50%);
        -webkit-transform: translatex(-50%);
        position: relative;
        display: inline-block;
        font-size: 17px;
        text-align: center; }
    #footer #bottom-nav-bar #header #right-nav-bar #menu-wrapper .menu-item-dark:hover, #header #right-nav-bar #footer #bottom-nav-bar #menu-wrapper .menu-item-dark:hover, #footer #bottom-nav-bar #menu-wrapper .menu-item:hover {
      box-shadow: 0px 3px 5px black;
      text-shadow: 0px 3px 5px black; }

/*# sourceMappingURL=style.css.map */
