<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Advertising</h1>
			<p>At TAG The Agency we specialise in the creation and management of advertising on social platforms, working to optimise your return through our unique approach to ad placement, programmatic advertising and A/B split testing of the ad creative, the team at TAG The Agency delivers targeted and effective results.</p>
		</div>
		<div class="media">
			<iframe class="videos_iframe" src="https://www.youtube.com/embed/VmeehmS5Hpo?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
			<div class="media__arrow media__arrow--left" ng-click="go('/done-photography')"></div>
			<div class="media__arrow media__arrow--right" ng-click="go('/done-event')"></div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/influencers')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>
</main>
