<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Brand</h1>
			<p>Social and digital media have influenced the how we create and design, from internal systems, consumer and user experience through to the application of a logo, design thinking and the importance of a solid brand is more important now than ever!</p>
			<p>At TAG The Agency we have developed a unique method to how we approach brand and the application of design thinking to the social and digital world.</p>
		</div>
		<div class="media">
			<img src="../imgs/brand.png">
			<div class="media__arrow media__arrow--left" ng-click="go('/done-apps')"></div>
			<div class="media__arrow media__arrow--right" ng-click="go('/done-photography')"></div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/vr')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/done')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>
</main>
