<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Content</h1>
			<p>From live events, video production to creative campaigns, the development and creation of content is at the very core of TAG The Agency, we love to produce content that inspires your audience to engage.</p>
		</div>
		<div class="media">
			<img src="../imgs/content.png">
			<div class="media__arrow media__arrow--left" ng-click="go('/done-photography')"></div>
			<div class="media__arrow media__arrow--right" ng-click="go('/done')"></div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/influencers')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>
</main>
