<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Photography</h1>
			<p>A picture says a 1000 words, in the world of social and digital when attention spans are short and character counts are limited photography can help tell your story fast and effectively.</p>
		</div>
		<div class="media">
			<img src="../imgs/photography.png">
			<div class="media__arrow media__arrow--left" ng-click="go('/done-brand')"></div>
			<div class="media__arrow media__arrow--right" ng-click="go('/done')"></div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/influencers')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>
</main>
