<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Video</h1>
			<p>Video is the future of the internet! Facebooks goal is to have over 80% of its content in video format. Having a smart and sustainable strategy that includes video should now be part of any social and digital plan.</p>
			<p>TAG The Agency specialises in creating socially focused video that is fast and efficient in production and compelling in impact. We are experienced in producing video content for the internet, from traditional 2D videos through to the fast emerging platform of 360 degree video. TAG The Agency is the perfect partner in your video strategy.</p>
		</div>
		<div class="media">
			<div class="work-examples">
				<div class="work-examples__row-1 work-examples__row-1--center">
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Video Production</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/74gs08F50jY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Drone Footage</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/X_bIawpAjmY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip work-examples__color-strip--full-pink"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Video Campaigns</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/BxQt03tX2qY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip work-examples__color-strip--half-pink"></div>
					</div>
				</div>
			</div>
			<div class="media__arrow media__arrow--left" ng-click="go('/done')"></div>
			<div class="media__arrow media__arrow--right" ng-click="go('/done-apps')"></div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/doing')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>	
	</main>
