<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Video</h1>
			<p>VRStudio turns your phone into a high definition 360° Video and 360° Photo viewer.</p>
			<p>Download the app then simply move your iPhone around and watch as it turns into a window to another world! Then for a full VR experience on an iPhone use VRStudio with Google Cardboard or our own VR Headsets to immerse yourself in the excitement and innovation of virtual reality.<br>We have built the app using Google powered stereoscopic rendering, head tracking for mobile VR and our own VR 360 platform to ensure the very best quality of 360 and VR content.</p>
		</div>
		<div class="media">
			<div class="work-examples">
				<div class="work-examples__row-1 work-examples__row-1--center">
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Video Production</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/74gs08F50jY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Drone Footage</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/X_bIawpAjmY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip work-examples__color-strip--full-pink"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Video Campaigns</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/BxQt03tX2qY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip work-examples__color-strip--half-pink"></div>
					</div>
				</div>
			</div>
			<div class="media__arrow media__arrow--left" ng-click="go('/done')"></div>
			<div class="media__arrow media__arrow--right" ng-click="go('/done-apps')"></div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/doing')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>	
	</main>
