<!DOCTYPE html>
<html>
<head>
	<title>Tag</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<div class="background background--influencers"></div>
	<header>
		<div class="nav-top nav-top--light">
			<ul class="nav-top__menu">
				<li class="nav-top__menu-item">Who</li>
				<li class="nav-top__menu-item nav-top__menu-item--current">What</li>
				<li class="nav-top__menu-item">How</li>
				<li class="nav-top__menu-item">Store</li>
				<li class="nav-top__menu-item">Contact Us</li>
			</ul>
			<div class="nav-top__logo nav-top__logo--light"></div>
		</div>
	</header>
	<main>
		<div class="inner-container">
			<div class="copy copy--light">
				<h1>Influencers</h1>
				<p>Talking the talk, thats the game of social media! At TAG The Agency we have a network of influencers that can help to leverage your brand.</p>
				<p>We work with our influencers to follow the latest trends and to develop campaings thats have a strong impact; we don't just send them products on your behalf and hope they say something about it, we bring our influencers to the development of the campaign, working with them to get the best from their networks by creating content that works.</p>
			</div>
			<div class="icons icons--light">
				<div class="icons__icon">
					<div class="icons__image icons__image--home icons__image--home--light"></div>
					<div class="icons__text">Home</div>
				</div>
			</div>
			<div class="media">
				<div class="influencer-list">
					<h3>Our current influencers network covers:</h3>
					<ul>
						<li>Sports</li>
						<li>Parenting</li>
						<li>Automotive</li>
						<li>Youth</li>
						<li>Fashion</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</body>
</html>