<header>
  <div class="nav-top nav-top--light">
    <ul class="nav-top__menu">
      <li class="nav-top__menu-item">Who</li>
      <li class="nav-top__menu-item nav-top__menu-item--current">What</li>
      <li class="nav-top__menu-item">How</li>
      <li class="nav-top__menu-item">Store</li>
      <li class="nav-top__menu-item">Contact Us</li>
    </ul>
    <div class="nav-top__logo nav-top__logo--light"></div>
  </div>
</header>
<main>
  <div class="background background--vr"></div>
  <div class="inner-container">
    <div class="copy copy--light copy--compact">
      <h1>Virtual Reality Studios</h1>
      <p>Welcome to VR studios. This is a specific division of TAG that has been established to bring marketing and advertising to life through Virtual Reality.</p>
      <p>Video Examples</br>360 Photo Examples</p>
      <p>We have all the bases covered. We can work with you to produce mind blowing 360 video content, develop and supply custom branded VR Goggles and create and build a VR smartphone app for your content.</p>
      <p>Get in touch today; we'd love to help bring your brand to life, truly, from the virtual world!</p>
      <p>Download our VR Studios app to get the very best virtual reality experience. We'll keep tge content coming with more immersive virtual reality footage from throughout New Zealand and beyond.</p>
    </div>
    <div class="icons icons--light">
      <div class="icons__icon">
        <div class="icons__image icons__image--home icons__image--home--light"></div>
        <div class="icons__text">Home</div>
      </div>
      <div class="icons__icon">
        <div class="icons__image icons__image"></div>
        <div class="icons__text">App</div>
      </div>
      <div class="icons__icon">
        <div class="icons__image icons__image"></div>
        <div class="icons__text">Goggles</div>
      </div>
    </div>
    <div class="media">
      <div class="videos">
        <div class="videos__video videos__video--full-width"></div>
        <div class="videos__video videos__video--half-width"></div>
        <div class="videos__video videos__video--half-width"></div>
      </div>
    </div>
  </div>  
  <a href="production.html">Production page test</a>
</main>
