@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/Futura (Light).ttf'); }
@font-face {
	font-family: 'Harriet Regular';
	src: url('../fonts/Harriet Display Regular.otf'); }
@font-face {
	font-family: 'Harriet Bold';
	src: url('../fonts/Harriet Display Bold.otf'); }

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// $small-breakpoint:  em(640)  !default;

$body-font: 'Futura Light';
$header-font: 'Harriet Bold';
$header-height: 100px;
$img-path: '../imgs/';
$logo-dark: 'TAG_logo_tag_black_blacktag.png';
$logo-light: 'TAG_white_1920x1080.png';
$homepage-bg: 'TAG-The-Agency-website-homepage-bg.png';
$production-bg: 'TAG-The-Agency-website-production-bg.png';
$influencers-bg: 'TAG-The-Agency-website-influencers-bg.png';
$strategy-bg: 'upload_11_10_2016_at_2_19_10_PM.png';
$vr-bg: 'TAG-The-Agency-website-VR-Studios-bg.png';
$home-icon: 'TAG The Agency website case studies buttons-56.png';
$home-icon-light: 'home-icon-white.png';
$play-icon:'play-icon.png';
$blue: #00AEEF;
$pink: #EC008C;
$yellow: #FFF200;
$black: #231F20;
$white: white;
$dark-grey: #3A3A3C;
$light-grey: #58585A;
$colors-list: (blue:$blue, pink:$pink, yellow:$yellow, white:$white, black:$black); //Used in @each loop for cmyk crosses colors

$mabel-image: 'Mabel 2.jpg';

$small-breakpoint: em(1024) !default;
$medium-breakpoint:  em(1264) !default;
$large-breakpoint:  em(1440) !default;
$xlarge-breakpoint: em(1920) !default;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small-breakpoint) and (orientation: portrait) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-breakpoint) and (max-width: $large-breakpoint), (orientation: landscape) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-breakpoint) { @content; }
  }
}

@mixin flex-wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

@mixin center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

@mixin center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

//Copy / Paste for responsive styles

// @include respond-to(handhelds) {
// }
// @include respond-to(medium-screens) {
// }
// @include respond-to(wide-screens) {
// }

html, body, header, main {
	overflow: hidden;
	margin: 0 0 0 0;
	box-sizing: border-box;
	height: 100%;
}

h1, h2, h3, p, li, ul, ol {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1, h2, h3 {
	font-family: $header-font;
}

p {
	font-family: $body-font;
}

img {
	@include center;
	max-width: 100%;
	max-height: 100%;
}


header, main {
	position: fixed;
	box-sizing: border-box;
}

main {
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding-top: 100px; //Header Height
	padding-bottom: 100px;
}

header {
	z-index: 2;
 	width: 100%;
 	height: 100px;
}

.background {
	@include center;
	@include respond-to(handhelds) {
		background-position: 60% 0;
	}
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	&--homepage {
		background-image: url($img-path + $homepage-bg);
	}
	&--production {
		background-image: url($img-path + $production-bg);
	}
	&--influencers {
		background-image: url($img-path + $influencers-bg);
	}
	&--strategy {
		background-image: url($img-path + $strategy-bg);
	}
	&--vr {
		background-image: url($img-path + $vr-bg);
	}
}

.inner-container {
	transition-duration: 0.5s;
	@include center-horizontal;
	position: relative;
	clear: both;
	@include respond-to(handhelds) {
		box-sizing: border-box;
		height: calc(100% - 100px); //header height
		width: 100%;
		padding: 50px 10px 10px 10px;
	}
	@include respond-to(medium-screens) {
		margin-top: -20px;
		width: 960px;
		height: 470px;
	}
	@include respond-to(wide-screens) {
		width: 1440px;
		height: 720px;
	}
}

.media {
	position: relative;
	display: inline-block;
	height: calc(100% - 20px);
	width: calc(60% - 20px);
	margin: 10px 10px 10px 10px;
	@include respond-to(handhelds) {
		@include center-horizontal;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		height: 50%;
		margin: 0 0 0 0;
	}
}

.copy {
	clear: both;
	float: left;
	@include respond-to(handhelds) {
		width: 100%;
		height: 35%;
		h1 {
			font-size: 2.8em;
			margin: 0 0 2% 0;
		}
		h2 {
			margin: 2% 0 0 0;
		}
		p {
			font-size: 2.2em;
			margin: 0 0 2% 0;
		}
	}
	@include respond-to(medium-screens) {
		display: inline-block;
		// height: calc(80% - 20px); // Minus margins
		width: calc(40% - 60px); // Minus margins
		margin: 10px 50px 10px 10px;
		h1 {
			font-size: 2.7em;
			margin: 0 0 8% 0;
		}
		h2 {
			margin: 8% 0 0 0;
		}
		p {
			margin: 0 0 5% 0;
		}
	}
	@include respond-to(wide-screens) {
		display: inline-block;
		// height: calc(80% - 20px); // Minus margins
		width: calc(40% - 60px); // Minus margins
		margin: 10px 50px 10px 10px;
		h1 {
			font-size: 3em;
			margin: 0 0 8% 0;
		}
		h2 {
			font-size: 2em;
			margin: 15% 0 0 0;
		}
		p {
			font-size: 1.3em;
			margin: 0 0 8% 0;
		}
	}
	&--light {
		color: white;
	}
	&--compact {
		overflow: scroll;
		@include respond-to(handhelds) {
			h1 {
				font-size: 1.8em;
				margin: 0 0 2% 0;
			}
			h2 {
				margin: 2% 0 0 0;
			}
			p {
				font-size: 0.7em;
				margin: 0 0 1% 0;
			}
		}
		@include respond-to(medium-screens) {
			h1 {
				font-size: 1.8em;
				margin: 0 0 2% 0;
			}
			h2 {
				margin: 8% 0 0 0;
			}
			p {
				font-size: 0.9em;
				margin: 0 0 2.5% 0;
			}
		}
		@include respond-to(wide-screens) {
			h1 {
				font-size: 3em;
				margin: 0 0 3% 0;
			}
			h2 {
				font-size: 2em;
				margin: 15% 0 0 0;
			}
			p {
				font-size: 1.3em;
				margin: 0 0 5% 0;
			}
		}
	}
}

.icons {
	position: relative;
	// top: calc(-20% - 10px); // Quick fix
	left: 0;
	clear: both;
	float: left;
	width: calc(40% - 60px); // Minus margins
	height: calc(20% - 10px); // Minus margins
	margin: 0 50px 10px 10px;
	@include respond-to(handhelds) {
		@include flex-wrapper;
		@include center-horizontal;
		width: 60%;
	}
	@include respond-to(medium-screens) {
		float: none;
		top: calc(-20% - 10px); // Quick fix
	}
	&__icon {
		float: left;
		width: 15%;
		padding-bottom: 15%;
		@include respond-to(handhelds) {
			margin: auto 0 auto 0;
			flex: 1;
		}
	}
	&__image {
		width: 100%;
		padding-bottom: 100%;
		// height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		transition-duration: 1s;
		&--home {
			cursor: pointer;
			background-image: url($img-path + $home-icon);
			&:hover {
				-ms-transform: rotate(180deg); /* IE 9 */
			    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);
			}
			&--light {
				background-image: url($img-path + $home-icon-light);
			}
		}
	}
	&__text {
		text-transform: uppercase;
		font-family: 'Futura';
		font-weight: bold;
		width: 100%;
		text-align: center;
		top: 100%;
		margin: 10px 0 0 0;
	}
	&--light {
		color: white;
	}
}

.nav-top {
	text-transform: uppercase;
	color: white;	
	height: 100%;
	font-family: $body-font;
	font-size: 1.4em;
	white-space: nowrap;
	&__menu {
		transition-duration: 0.5s;
		@include flex-wrapper;
		margin: 0 20px 0 0;
		height: 100%;
		float: right;
		text-align: center;
		list-style-type: none;
		@include respond-to(handhelds) {
			display: none;
			width: 60%;
		}
		@include respond-to(medium-screens) {
			width: 45%;
		}
		@include respond-to(wide-screens) {
			width: 30%;
		}
	}
	&__menu-item {
		margin: auto 0 auto 0;
		flex: 1;
	}
	&__logo {
		@include respond-to(handhelds) {
			width: 150px;
		}
		float: left;
		margin: 0 0 0 20px;
		width: 100px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		&--dark {
			background-image: url($img-path + $logo-dark);
		}
		&--light {
			background-image: url($img-path + $logo-light);
		}
	}
	&__burger-icon {
		width: 100px;
		height: 100px;
		float: right;
		margin: 10px 10px 0 0;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			height: 10px;
			width: 100%;
			background: white;
			border-radius: 10px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}
		span:nth-child(1) {
			top: 10px;
		}
		span:nth-child(2), span:nth-child(3) {
			top: calc(50% - 10px);
		}
		span:nth-child(4) {
			top: calc(100% - 30px);
		}
		&:hover {
			span:nth-child(1) {
				opacity: 0;
			}
			span:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			span:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			span:nth-child(4) {
				opacity: 0;
			}
		}
		@include respond-to(handhelds) {
		}
		@include respond-to(medium-screens) {
			display: none;
		}
		@include respond-to(wide-screens) {
			display: none;
		}
	}
	&--dark {
		color: black;
	}
}

.cmyk-crosses {
	@include center;
	font-size: 1.3em;
	position: relative;
	width: 70%;
	height: 150px;
	text-align: center;
	font-family: $header-font;
	top: 80%;
	@include respond-to(handhelds) {
		width: 100%;
		top: 75%;
	}
	@include respond-to(medium-screens) {
	}
	@include respond-to(wide-screens) {
		top: 90%;
	}
	&__wrapper {
		@include flex-wrapper;
		margin: 0 auto 0 auto;
		height: 100%;
		width: 100%;
	}
	&__item {
		margin: 0 10px 0 10px;
		flex: 1;
	}
	&__image {
		cursor: pointer;
		// transition-duration: 1.5s;
		background-position: center;
		background-size: cover;
		width: 100%;
		padding-bottom: 100%;
	}
	&__text{
		margin: 10px 0 0 0;
	}
	@each $color, $hex in $colors-list {
		&__image--#{$color} {
			background-image: url($img-path + "cmyk-" + $color + ".png");
		}
		&__image--#{$color}:hover {
			background-image: url($img-path + "cmyk-" + $color + "-active.png");
		}
		&__text--#{$color} {
			color: $hex;
		}
	}
}

.work-examples {
	color: white;
	float: left;
	height: 100%;
	width: 100%;
	&__row-1, &__row-2 {
		@include flex-wrapper;
		height: 50%;
		width: 100%;
	}
	&__item {
		background-color: $dark-grey;
		flex: 1;
		@include respond-to(handhelds) {
			// To Add mobile styles when Rosa completes them
		}
		@include respond-to(medium-screens) {
			margin: 5px 5px 5px 5px;
		}
		@include respond-to(wide-screens) {
			margin: 10px 10px 10px 10px;
		}
	}
	&__category {
		font: 1em $body-font;
		position: absolute;
		margin: 10px 0 0 5px;
	}
	&__title {
		font: 1.2em $header-font;
		position: absolute;
		margin: 30px 0 0 5px;
	}
	&__video {
		padding-top: 50px;
		width: 100%;
		height: calc(75% - 50px);
	}
	&__description {
		position: relative;
		width: 100%;
		background-color: $light-grey;
		height: 25%;
		bottom: 0%;
		@include respond-to(handhelds) {
			// To Add mobile styles when Rosa completes them
		}
		@include respond-to(medium-screens) {
			font-size: 0.7em;
		}
		@include respond-to(wide-screens) {
			font-size: 1.1em;
		}
		p {
			padding: 3px 10px 5px 10px;
		}
	}
	&__color-strip {
		float: left;
		position: relative;
		bottom: 0%;
		height: 2%;
		width: 100%;
		background-color: $blue;
		&:after {
			content: "";
			width: 50%;
			float: right;
			height: 100%;
			background-color: $yellow;
		}
		&--full-pink {
			background-color: $pink;
			&:after {
				background-color: $pink;
			}
		}
		&--half-pink {
			background-color: $pink;
		}
	}
}


.videos {
	float: left;
	width: 100%;
	height: 100%;
	&__video {
		position: relative;
		float: left;
		background-color: rgba(0,0,0,0.5);
		&--full-width {
			margin: 0 5px 10px 5px;
			width: calc(100% - 10px);
			height: calc(65% - 10px);
			@include respond-to(handhelds) {
				height: 100%;
			}
		}
		&--half-width {
			width: calc(50% - 10px);
			margin: 0px 5px 0 5px;
			height: 35%;
			@include respond-to(handhelds) {
				display: none;
			}
		}
		&:after {
			// @include center;
			// display: inline-block;
			// content: "";
			// width: 15%;
			// padding-bottom: 15%;
			// background-size: cover;
			// background-repeat: no-repeat;
			// background-position: center;
			// background-image: url($img-path + $play-icon);
		}
	}
	&_iframe {
		width: 100%;
		height: 100%;
	}
}

.influencer-list {
	margin: 0 0 0 20%;
	color: white;
	height: 100%;
	width: 40%;
	h3 {
		font-size: 1.3em;
		font-family: $body-font;
		margin: 10px 0 30px 0;
	}
	ul {
		font-family: $body-font;
		list-style-type: none;
	}
	li {
		font-size: 1.2em;
		margin: 5px 0 5px 0;
	}
}

.thinking-background {
	z-index: -1;
	position: absolute;
	background-color: $yellow;
	width: calc(100% - 100px);
	// height: 100%;
	height: calc(100% - 100px);
	margin: 0 50px 0 50px;
}

.info-pages {
	padding-top: 5%;
	width: 100%;
	height: 100%;
	h1 {
		font-family: 'Harriet Regular';
		// margin: 5% 0 0 0;
		text-align: center;
	}
	p {
		font-family: 'Harriet Regular';
		@include center-horizontal;
		width: 40%;
		position: relative;
		margin: 5% 0 0 0;
		text-align: center;
	}

	&__content {
		margin-top: 5%;
		position: relative;
		height: 50%;
		width: 100%;
	}
}

.team {
	&__members-wrapper {	
		@include flex-wrapper;
		width: 100%;
		height: 40%;
	}
	&__item {
		height: 100%;
		flex: 1;
		margin: 0 10px 0 10px;
		text-align: center;
	}
	&__image {
		background-image: url($img-path + $mabel-image);
		background-size: cover;
		border-radius: 50%;
		width: 100%;
		padding-bottom: 100%;
	}
	&__name {
		margin: 2% 0 0 0;
		font-family: 'Harriet Bold'
	}
	&__role {
		margin: 1% 0 0 0;
		font-family: 'Harriet Regular'
	}
}






