@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/Futura (Light).ttf'); }
@font-face {
	font-family: 'Harriet Regular';
	src: url('../fonts/Harriet Display Regular.otf'); }
@font-face {
	font-family: 'Harriet Bold';
	src: url('../fonts/Harriet Display Bold.otf'); }

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// $small-breakpoint:  em(640)  !default;

$body-font: 'Futura Light';
$header-font: 'Harriet Bold';
$img-path: '../imgs/';
$logo-dark: 'TAG_logo_tag_black_blacktag.png';
$logo-light: 'TAG_white_1920x1080.png';
$homepage-bg: 'TAG-The-Agency-website-homepage-bg.png';
$home-icon: 'TAG The Agency website case studies buttons-56.png';
$blue: #00AEEF;
$pink: #EC008C;
$yellow: #FFF200;
$black: #231F20;
$white: white;
$dark-grey: #3A3A3C;
$light-grey: #58585A;
$colors-list: (blue:$blue, pink:$pink, yellow:$yellow, white:$white, black:$black); //Used in @each loop for cmyk crosses colors


$small-breakpoint: em(1024) !default;
$medium-breakpoint:  em(1264) !default;
$large-breakpoint:  em(1440) !default;
$xlarge-breakpoint: em(1920) !default;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small-breakpoint) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-breakpoint) and (max-width: $large-breakpoint) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-breakpoint) { @content; }
  }
}

@mixin flex-wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

//Copy / Paste for responsive styles

// @include respond-to(handhelds) {
// }
// @include respond-to(medium-screens) {
// }
// @include respond-to(wide-screens) {
// }
html, body, header, main, footer {
	overflow: hidden;
	margin: 0 0 0 0;
	box-sizing: border-box;
	height: 100%;
}

h1, h2, h3, p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1, h2, h3 {
	font-family: $header-font;
}

p {
	font-family: $body-font;
}


header, main, footer {
	position: fixed;
	box-sizing: border-box;
}

main {
	height: 100%;
	width: 100%;
	padding-top: 100px; //Header Height
	padding-bottom: 100px;
	@include respond-to(handhelds) {
		padding-top: 150px; // Header Height on mobile
	}
}

header { 
  width: 100%;
  height: 100px;
  @include respond-to(handhelds) {
  	height: 150px;
  }
}

footer {
	bottom: 0;
	height: 100px;
	width: 100%;
}

.background {
	@include respond-to(handhelds) {
		background-position: center;
	}
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	&--homepage {
		background-image: url($img-path + $homepage-bg);
	}	
}

.nav-top {
	text-transform: uppercase;
	color: white;	
	height: 100%;
	font-family: $body-font;
	font-size: 1.4em;
	white-space: nowrap;
	&__menu {
		@include flex-wrapper;
		margin: 0 20px 0 0;
		height: 100%;
		float: right;
		text-align: center;
		list-style-type: none;
		@include respond-to(handhelds) {
			width: 60%;
		}
		@include respond-to(medium-screens) {
			width: 45%;
		}
		@include respond-to(wide-screens) {
			width: 30%;
		}
	}
	&__menu-item {
		margin: auto 0 auto 0;
		flex: 1;
	}
	&__logo {
		@include respond-to(handhelds) {
			width: 150px;
		}
		float: left;
		margin: 0 0 0 20px;
		width: 100px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		&--dark {
			background-image: url($img-path + $logo-dark);
		}
		&--light {
			background-image: url($img-path + $logo-light);
		}
	}
	&--dark {
		color: black;
	}
}

.cmyk-crosses {
	font-size: 1.3em;
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: center;
	font-family: $header-font;
	bottom: 75px;
	@include respond-to(handhelds) {
	}
	@include respond-to(medium-screens) {
		bottom: 20px;
	}
	@include respond-to(wide-screens) {
		bottom: 50px;
	}
	&__wrapper {
		@include flex-wrapper;
		margin: 0 auto 0 auto;
		height: 100%;
		@include respond-to(handhelds) {
			width: 90%;
		}
		@include respond-to(medium-screens) {
			width: 50%;
		}
		@include respond-to(wide-screens) {
			width: 40%;
		}
	}
	&__item {
		margin: 0 10px 0 10px;
		flex: 1;
	}
	&__image {
		cursor: pointer;
		transition-duration: 1.5s;
		background-position: center;
		background-size: cover;
		width: 100%;
		padding-bottom: 100%;
	}
	&__text{
		margin: 10px 0 0 0;
	}
	@each $color, $hex in $colors-list {
		&__image--#{$color} {
			background-image: url($img-path + "cmyk-" + $color + ".png");
		}
		&__image--#{$color}:hover {
			background-image: url($img-path + "cmyk-" + $color + "-active.png");
		}
		&__text--#{$color} {
			color: $hex;
		}
	}
}

.work-examples {
	color: white;
	float: right;
	height: 100%;
	@include respond-to(handhelds) {
		// To Add mobile styles when Rosa completes them
	}
	@include respond-to(medium-screens) {
		// width: 60%;
		max-width: 760px;
	}
	@include respond-to(wide-screens) {
		// width: 65%;
		max-width: 1250px;
	}
	&__wrapper {
		float: left;
		height: 100%;
		width: 75%;
	}
	&__row-1, &__row-2 {
		@include flex-wrapper;
		height: 50%;
		width: 100%;
	}
	&__item {
		background-color: $dark-grey;
		flex: 1;
		@include respond-to(handhelds) {
			// To Add mobile styles when Rosa completes them
		}
		@include respond-to(medium-screens) {
			margin: 5px 5px 5px 5px;
		}
		@include respond-to(wide-screens) {
			margin: 10px 10px 10px 10px;
		}
	}
	&__category {
		font: 1em $body-font;
		position: absolute;
		margin: 10px 0 0 5px;
	}
	&__title {
		font: 1.2em $header-font;
		position: absolute;
		margin: 30px 0 0 5px;
	}
	&__video {
		width: 100%;
		height: 75%;
	}
	&__description {
		position: relative;
		width: 100%;
		background-color: $light-grey;
		height: 25%;
		bottom: 0%;
		@include respond-to(handhelds) {
			// To Add mobile styles when Rosa completes them
		}
		@include respond-to(medium-screens) {
			font-size: 0.7em;
		}
		@include respond-to(wide-screens) {
			font-size: 1.2em;
		}
		p {
			padding: 5px 10px 5px 10px;
		}
	}
	&__color-strip {
		float: left;
		position: relative;
		bottom: 0%;
		height: 2%;
		width: 100%;
		background-color: $blue;
		&:after {
			content: "";
			width: 50%;
			float: right;
			height: 100%;
			background-color: $yellow;
		}
		&--full-pink {
			background-color: $pink;
			&:after {
				background-color: $pink;
			}
		}
		&--half-pink {
			background-color: $pink;
		}
	}
}

.copy {
	float: right;
	height: 90%;
	margin: 0 40px 0 0;
	h1 {
		font-size: 2.7em;
		margin: 0 0 30px 0;
	}
	h2 {
		margin: 60px 0 0 0;
	}
	p {
		margin: 0 0 30px 0;
	}
	@include respond-to(handhelds) {
		// To Add mobile styles when Rosa completes them
	}
	@include respond-to(medium-screens) {
		width: 350px;
	}
	@include respond-to(wide-screens) {
		width: 450px;
		font-size: 1.2em;
	}
}

.icons {
	float: right;
	position: relative;
	height: 10%;
	margin: 0 40px 0 0;
	@include respond-to(handhelds) {
		// To Add mobile styles when Rosa completes them
	}
	@include respond-to(medium-screens) {
		width: 350px;
	}
	@include respond-to(wide-screens) {
		width: 450px;
	}
	&__icon {
		width: 15%;
		padding-bottom: 15%;
	}
	&__image {
		width: 100%;
		padding-bottom: 100%;
		cursor: pointer;
		// height: 100%;
		background-size: contain;
		background-position: left;
		background-repeat: no-repeat;
		transition-duration: 1s;
		&--home {
			background-image: url($img-path + $home-icon);
		}
		&:hover {
			-ms-transform: rotate(180deg); /* IE 9 */
		    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		    transform: rotate(180deg);
		}
	}
	&__text {
		text-transform: uppercase;
		font-family: 'Futura';
		font-weight: bold;
		width: 100%;
		text-align: center;
		top: 100%;
		margin: 10px 0 0 0;
	}
}







