@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/Futura (Light).ttf"); }
@font-face {
  font-family: 'Harriet Regular';
  src: url("../fonts/Harriet Display Regular.otf"); }
@font-face {
  font-family: 'Harriet Bold';
  src: url("../fonts/Harriet Display Bold.otf"); }
html, body, header, main {
  overflow: hidden;
  margin: 0 0 0 0;
  box-sizing: border-box;
  height: 100%; }

h1, h2, h3, p, li, ul, ol {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

h1, h2, h3 {
  font-family: "Harriet Bold"; }

p {
  font-family: "Futura Light"; }

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

header, main {
  position: fixed;
  box-sizing: border-box; }

main {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }

header {
  z-index: 2;
  width: 100%;
  height: 100px; }

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .background {
      background-position: 60% 0; } }
  .background--homepage {
    background-image: url("../imgs/TAG-The-Agency-website-homepage-bg.png"); }
  .background--production {
    background-image: url("../imgs/TAG-The-Agency-website-production-bg.png"); }
  .background--influencers {
    background-image: url("../imgs/TAG-The-Agency-website-influencers-bg.png"); }
  .background--strategy {
    background-image: url("../imgs/upload_11_10_2016_at_2_19_10_PM.png"); }
  .background--vr {
    background-image: url("../imgs/TAG-The-Agency-website-VR-Studios-bg.png"); }

.inner-container {
  transition-duration: 0.5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  clear: both; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .inner-container {
      box-sizing: border-box;
      height: calc(100% - 100px);
      width: 100%;
      padding: 50px 10px 10px 10px; } }
  @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
    .inner-container {
      margin-top: -20px;
      width: 960px;
      height: 470px; } }
  @media only screen and (min-width: 90em) {
    .inner-container {
      width: 1440px;
      height: 720px; } }

.media {
  position: relative;
  display: inline-block;
  height: calc(100% - 20px);
  width: calc(60% - 20px);
  margin: 10px 10px 10px 10px; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .media {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 50%;
      margin: 0 0 0 0; } }

.copy {
  clear: both;
  float: left; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .copy {
      width: 100%;
      height: 35%; }
      .copy h1 {
        font-size: 2.8em;
        margin: 0 0 2% 0; }
      .copy h2 {
        margin: 2% 0 0 0; }
      .copy p {
        font-size: 2.2em;
        margin: 0 0 2% 0; } }
  @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
    .copy {
      display: inline-block;
      width: calc(40% - 60px);
      margin: 10px 50px 10px 10px; }
      .copy h1 {
        font-size: 2.7em;
        margin: 0 0 8% 0; }
      .copy h2 {
        margin: 8% 0 0 0; }
      .copy p {
        margin: 0 0 5% 0; } }
  @media only screen and (min-width: 90em) {
    .copy {
      display: inline-block;
      width: calc(40% - 60px);
      margin: 10px 50px 10px 10px; }
      .copy h1 {
        font-size: 3em;
        margin: 0 0 8% 0; }
      .copy h2 {
        font-size: 2em;
        margin: 15% 0 0 0; }
      .copy p {
        font-size: 1.3em;
        margin: 0 0 8% 0; } }
  .copy--light {
    color: white; }
  .copy--compact {
    overflow: scroll; }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .copy--compact h1 {
        font-size: 1.8em;
        margin: 0 0 2% 0; }
      .copy--compact h2 {
        margin: 2% 0 0 0; }
      .copy--compact p {
        font-size: 0.7em;
        margin: 0 0 1% 0; } }
    @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
      .copy--compact h1 {
        font-size: 1.8em;
        margin: 0 0 2% 0; }
      .copy--compact h2 {
        margin: 8% 0 0 0; }
      .copy--compact p {
        font-size: 0.9em;
        margin: 0 0 2.5% 0; } }
    @media only screen and (min-width: 90em) {
      .copy--compact h1 {
        font-size: 3em;
        margin: 0 0 3% 0; }
      .copy--compact h2 {
        font-size: 2em;
        margin: 15% 0 0 0; }
      .copy--compact p {
        font-size: 1.3em;
        margin: 0 0 5% 0; } }

.icons {
  position: relative;
  left: 0;
  clear: both;
  float: left;
  width: calc(40% - 60px);
  height: calc(20% - 10px);
  margin: 0 50px 10px 10px; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .icons {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 60%; } }
  @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
    .icons {
      float: none;
      top: calc(-20% - 10px); } }
  .icons__icon {
    float: left;
    width: 15%;
    padding-bottom: 15%; }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .icons__icon {
        margin: auto 0 auto 0;
        flex: 1; } }
  .icons__image {
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 1s; }
    .icons__image--home {
      cursor: pointer;
      background-image: url("../imgs/TAG The Agency website case studies buttons-56.png"); }
      .icons__image--home:hover {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg); }
      .icons__image--home--light {
        background-image: url("../imgs/home-icon-white.png"); }
  .icons__text {
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: bold;
    width: 100%;
    text-align: center;
    top: 100%;
    margin: 10px 0 0 0; }
  .icons--light {
    color: white; }

.nav-top {
  text-transform: uppercase;
  color: white;
  height: 100%;
  font-family: "Futura Light";
  font-size: 1.4em;
  white-space: nowrap; }
  .nav-top__menu {
    transition-duration: 0.5s;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 20px 0 0;
    height: 100%;
    float: right;
    text-align: center;
    list-style-type: none; }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .nav-top__menu {
        display: none;
        width: 60%; } }
    @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
      .nav-top__menu {
        width: 45%; } }
    @media only screen and (min-width: 90em) {
      .nav-top__menu {
        width: 30%; } }
  .nav-top__menu-item {
    margin: auto 0 auto 0;
    flex: 1; }
  .nav-top__logo {
    float: left;
    margin: 0 0 0 20px;
    width: 100px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .nav-top__logo {
        width: 150px; } }
    .nav-top__logo--dark {
      background-image: url("../imgs/TAG_logo_tag_black_blacktag.png"); }
    .nav-top__logo--light {
      background-image: url("../imgs/TAG_white_1920x1080.png"); }
  .nav-top__burger-icon {
    width: 100px;
    height: 100px;
    float: right;
    margin: 10px 10px 0 0;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    .nav-top__burger-icon span {
      display: block;
      position: absolute;
      height: 10px;
      width: 100%;
      background: white;
      border-radius: 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .nav-top__burger-icon span:nth-child(1) {
      top: 10px; }
    .nav-top__burger-icon span:nth-child(2), .nav-top__burger-icon span:nth-child(3) {
      top: calc(50% - 10px); }
    .nav-top__burger-icon span:nth-child(4) {
      top: calc(100% - 30px); }
    .nav-top__burger-icon:hover span:nth-child(1) {
      opacity: 0; }
    .nav-top__burger-icon:hover span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav-top__burger-icon:hover span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .nav-top__burger-icon:hover span:nth-child(4) {
      opacity: 0; }
    @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
      .nav-top__burger-icon {
        display: none; } }
    @media only screen and (min-width: 90em) {
      .nav-top__burger-icon {
        display: none; } }
  .nav-top--dark {
    color: black; }

.cmyk-crosses {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3em;
  position: relative;
  width: 70%;
  height: 150px;
  text-align: center;
  font-family: "Harriet Bold";
  top: 80%; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .cmyk-crosses {
      width: 100%;
      top: 75%; } }
  @media only screen and (min-width: 90em) {
    .cmyk-crosses {
      top: 90%; } }
  .cmyk-crosses__wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 auto 0 auto;
    height: 100%;
    width: 100%; }
  .cmyk-crosses__item {
    margin: 0 10px 0 10px;
    flex: 1; }
  .cmyk-crosses__image {
    cursor: pointer;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%; }
  .cmyk-crosses__text {
    margin: 10px 0 0 0; }
  .cmyk-crosses__image--blue {
    background-image: url("../imgs/cmyk-blue.png"); }
  .cmyk-crosses__image--blue:hover {
    background-image: url("../imgs/cmyk-blue-active.png"); }
  .cmyk-crosses__text--blue {
    color: #00AEEF; }
  .cmyk-crosses__image--pink {
    background-image: url("../imgs/cmyk-pink.png"); }
  .cmyk-crosses__image--pink:hover {
    background-image: url("../imgs/cmyk-pink-active.png"); }
  .cmyk-crosses__text--pink {
    color: #EC008C; }
  .cmyk-crosses__image--yellow {
    background-image: url("../imgs/cmyk-yellow.png"); }
  .cmyk-crosses__image--yellow:hover {
    background-image: url("../imgs/cmyk-yellow-active.png"); }
  .cmyk-crosses__text--yellow {
    color: #FFF200; }
  .cmyk-crosses__image--white {
    background-image: url("../imgs/cmyk-white.png"); }
  .cmyk-crosses__image--white:hover {
    background-image: url("../imgs/cmyk-white-active.png"); }
  .cmyk-crosses__text--white {
    color: white; }
  .cmyk-crosses__image--black {
    background-image: url("../imgs/cmyk-black.png"); }
  .cmyk-crosses__image--black:hover {
    background-image: url("../imgs/cmyk-black-active.png"); }
  .cmyk-crosses__text--black {
    color: #231F20; }

.work-examples {
  color: white;
  float: left;
  height: 100%;
  width: 100%; }
  .work-examples__row-1, .work-examples__row-2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 50%;
    width: 100%; }
  .work-examples__item {
    background-color: #3A3A3C;
    flex: 1; }
    @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
      .work-examples__item {
        margin: 5px 5px 5px 5px; } }
    @media only screen and (min-width: 90em) {
      .work-examples__item {
        margin: 10px 10px 10px 10px; } }
  .work-examples__category {
    font: 1em "Futura Light";
    position: absolute;
    margin: 10px 0 0 5px; }
  .work-examples__title {
    font: 1.2em "Harriet Bold";
    position: absolute;
    margin: 30px 0 0 5px; }
  .work-examples__video {
    padding-top: 50px;
    width: 100%;
    height: calc(75% - 50px); }
  .work-examples__description {
    position: relative;
    width: 100%;
    background-color: #58585A;
    height: 25%;
    bottom: 0%; }
    @media only screen and (min-width: 64em) and (max-width: 90em), (orientation: landscape) {
      .work-examples__description {
        font-size: 0.7em; } }
    @media only screen and (min-width: 90em) {
      .work-examples__description {
        font-size: 1.1em; } }
    .work-examples__description p {
      padding: 3px 10px 5px 10px; }
  .work-examples__color-strip {
    float: left;
    position: relative;
    bottom: 0%;
    height: 2%;
    width: 100%;
    background-color: #00AEEF; }
    .work-examples__color-strip:after {
      content: "";
      width: 50%;
      float: right;
      height: 100%;
      background-color: #FFF200; }
    .work-examples__color-strip--full-pink {
      background-color: #EC008C; }
      .work-examples__color-strip--full-pink:after {
        background-color: #EC008C; }
    .work-examples__color-strip--half-pink {
      background-color: #EC008C; }

.videos {
  float: left;
  width: 100%;
  height: 100%; }
  .videos__video {
    position: relative;
    float: left;
    background-color: rgba(0, 0, 0, 0.5); }
    .videos__video--full-width {
      margin: 0 5px 10px 5px;
      width: calc(100% - 10px);
      height: calc(65% - 10px); }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .videos__video--full-width {
          height: 100%; } }
    .videos__video--half-width {
      width: calc(50% - 10px);
      margin: 0px 5px 0 5px;
      height: 35%; }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .videos__video--half-width {
          display: none; } }
  .videos_iframe {
    width: 100%;
    height: 100%; }

.influencer-list {
  margin: 0 0 0 20%;
  color: white;
  height: 100%;
  width: 40%; }
  .influencer-list h3 {
    font-size: 1.3em;
    font-family: "Futura Light";
    margin: 10px 0 30px 0; }
  .influencer-list ul {
    font-family: "Futura Light";
    list-style-type: none; }
  .influencer-list li {
    font-size: 1.2em;
    margin: 5px 0 5px 0; }

.thinking-background {
  z-index: -1;
  position: absolute;
  background-color: #FFF200;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 0 50px 0 50px; }

.info-pages {
  padding-top: 5%;
  width: 100%;
  height: 100%; }
  .info-pages h1 {
    font-family: 'Harriet Regular';
    text-align: center; }
  .info-pages p {
    font-family: 'Harriet Regular';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    position: relative;
    margin: 5% 0 0 0;
    text-align: center; }
  .info-pages__content {
    margin-top: 5%;
    position: relative;
    height: 50%;
    width: 100%; }

.team__members-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 40%; }
.team__item {
  height: 100%;
  flex: 1;
  margin: 0 10px 0 10px;
  text-align: center; }
.team__image {
  background-image: url("../imgs/Mabel 2.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%; }
.team__name {
  margin: 2% 0 0 0;
  font-family: "Harriet Bold"; }
.team__role {
  margin: 1% 0 0 0;
  font-family: "Harriet Regular"; }

/*# sourceMappingURL=style.css.map */
