@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/Futura (Light).ttf"); }
@font-face {
  font-family: 'Harriet Regular';
  src: url("../fonts/Harriet Display Regular.otf"); }
@font-face {
  font-family: 'Harriet Bold';
  src: url("../fonts/Harriet Display Bold.otf"); }
body {
  margin: 0 0 0 0;
  box-sizing: border-box; }

header, main, footer {
  position: absolute; }

main {
  height: 100%;
  width: 100%; }

header {
  width: 100%;
  height: 100px; }
  @media only screen and (max-width: 64em) {
    header {
      height: 150px; } }

.background {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 64em) {
    .background {
      background-position: center; } }
  .background--homepage {
    background-image: url("../imgs/TAG-The-Agency-website-homepage-bg.png"); }

.nav-top {
  color: white;
  height: 100%;
  font-family: "Futura Light";
  font-size: 1.4em; }
  .nav-top__menu {
    margin: 0 20px 0 0;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    float: right;
    text-align: center;
    list-style-type: none; }
    @media only screen and (max-width: 64em) {
      .nav-top__menu {
        width: 60%; } }
    @media only screen and (min-width: 79em) and (max-width: 90em) {
      .nav-top__menu {
        width: 45%; } }
    @media only screen and (min-width: 90em) {
      .nav-top__menu {
        width: 30%; } }
  .nav-top__menu-item {
    margin: auto 0 auto 0;
    flex: 1; }
  .nav-top__logo {
    float: left;
    margin: 0 0 0 20px;
    width: 100px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 64em) {
      .nav-top__logo {
        width: 150px; } }
    .nav-top__logo--dark {
      background-image: url("../imgs/TAG_logo_tag_black_blacktag.png"); }
    .nav-top__logo--light {
      background-image: url("../imgs/TAG_white_1920x1080.png"); }
  .nav-top--dark {
    color: black; }

.cmyk-crosses {
  font-size: 1.3em;
  position: absolute;
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: "Harriet Bold";
  bottom: 75px; }
  @media only screen and (min-width: 79em) and (max-width: 90em) {
    .cmyk-crosses {
      bottom: 20px; } }
  @media only screen and (min-width: 90em) {
    .cmyk-crosses {
      bottom: 50px; } }
  .cmyk-crosses__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 auto 0 auto;
    height: 100%; }
    @media only screen and (max-width: 64em) {
      .cmyk-crosses__inner {
        width: 90%; } }
    @media only screen and (min-width: 79em) and (max-width: 90em) {
      .cmyk-crosses__inner {
        width: 50%; } }
    @media only screen and (min-width: 90em) {
      .cmyk-crosses__inner {
        width: 40%; } }
  .cmyk-crosses__item {
    margin: 0 10px 0 10px;
    flex: 1; }
  .cmyk-crosses__image {
    cursor: pointer;
    transition-duration: 1.5s;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%; }
  .cmyk-crosses__text {
    margin: 10px 0 0 0; }
  .cmyk-crosses__image--blue {
    background-image: url("../imgs/cmyk-blue.png"); }
  .cmyk-crosses__image--blue:hover {
    background-image: url("../imgs/cmyk-blue-active.png"); }
  .cmyk-crosses__text--blue {
    color: #00AEEF; }
  .cmyk-crosses__image--pink {
    background-image: url("../imgs/cmyk-pink.png"); }
  .cmyk-crosses__image--pink:hover {
    background-image: url("../imgs/cmyk-pink-active.png"); }
  .cmyk-crosses__text--pink {
    color: #EC008C; }
  .cmyk-crosses__image--yellow {
    background-image: url("../imgs/cmyk-yellow.png"); }
  .cmyk-crosses__image--yellow:hover {
    background-image: url("../imgs/cmyk-yellow-active.png"); }
  .cmyk-crosses__text--yellow {
    color: #FFF200; }
  .cmyk-crosses__image--white {
    background-image: url("../imgs/cmyk-white.png"); }
  .cmyk-crosses__image--white:hover {
    background-image: url("../imgs/cmyk-white-active.png"); }
  .cmyk-crosses__text--white {
    color: white; }
  .cmyk-crosses__image--black {
    background-image: url("../imgs/cmyk-black.png"); }
  .cmyk-crosses__image--black:hover {
    background-image: url("../imgs/cmyk-black-active.png"); }
  .cmyk-crosses__text--black {
    color: #231F20; }

/*# sourceMappingURL=style.css.map */
