<!DOCTYPE html>
<html>
<head>
	<title>Tag</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<div class="background background--contact"></div>
	<header>
		<div class="nav-top nav-top--dark">
			<ul class="nav-top__menu">
			<li class="nav-top__menu-item" ng-click="go('/what')">What</li>
			<li class="nav-top__menu-item" ng-click="go('/who')">Who</li>
			<li class="nav-top__menu-item" ng-click="go('/how')">How</li>
			<li class="nav-top__menu-item" ng-click="go('/partners')">Partners</li>
			<!-- <li class="nav-top__menu-item" ng-click="go('/blog')">Blog</li> -->
			<!-- <li class="nav-top__menu-item" ng-click="go('/store')">Store</li> -->
			<li class="nav-top__menu-item nav-top__menu-item--active" ng-click="go('/contact')">Contact</li>
			</ul>
			<div class="nav-top__logo nav-top__logo--dark" ng-click="go('/')"></div>
			<div class="nav-top__burger-icon nav-top__burger-icon--dark">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>
	<main>
		<div class="inner-container">
			<div class="contact-form">			
				<form>
					<span>Name</span>
					<br>
					<input class="contact-form__input contact-form__input--name" type="text">
					<br>
					<span>Email</span>
					<input class="contact-form__input contact-form__input--email" type="email">
					<br>
					<span>Phone</span>
					<br>
					<input class="contact-form__input contact-form__input--phone" type="text">
					<br>
					<span>Message</span>
					<br>
					<textarea class="contact-form__input contact-form__input--message"></textarea>
					<br>
					<div class="contact-form__submit" ng-click="sendEmail()">SUBMIT</div>
				</form>
			</div>
		</div>	
	</main>
</body>
</html>