<!DOCTYPE html>
<html>
<head>
	<title>Tag</title>
	<!-- <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"> -->
</head>
<body>
	<header>
		<div class="nav-top nav-top--dark">
			<ul class="nav-top__menu">
			<li class="nav-top__menu-item" ng-click="go('/what')">What</li>
			<li class="nav-top__menu-item" ng-click="go('/who')">Who</li>
			<li class="nav-top__menu-item" ng-click="go('/how')">How</li>
			<li class="nav-top__menu-item  nav-top__menu-item--active" ng-click="go('/partners')">Partners</li>
			<li class="nav-top__menu-item" ng-click="go('/blog')">Blog</li>
			<li class="nav-top__menu-item" ng-click="go('/store')">Store</li>
			<li class="nav-top__menu-item" ng-click="go('/contact')">Contact</li>
			</ul>
			<div class="nav-top__logo nav-top__logo--dark" ng-click="go('/')"></div>
			<div class="nav-top__burger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>
	<main>
		<div class="inner-container">		
			<div class="info-pages">
				<h1>TAG Partners</h1>
				<p>We are strong believers in a team. In our team we work with industry experts who help to strengthen the solutions we provide to our clients and we trust these companies like we trust our own team. We are proud to work alongside the following brands; good folks doing amazing things!</p>
				<div class="info-pages__content">
					<div class="partners">
						<div class="partners__item"></div>
						<div class="partners__item"></div>
						<div class="partners__item"></div>
						<div class="partners__item"></div>
					</div>
				</div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>