<!DOCTYPE html>
<html>
<head>
	<title>Tag</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<div class="background background--strategy"></div>
	<header>
		<div class="nav-top nav-top--light">
			<ul class="nav-top__menu">
			<li class="nav-top__menu-item" ng-click="go('/what')">What</li>
			<li class="nav-top__menu-item" ng-click="go('/who')">Who</li>
			<li class="nav-top__menu-item" ng-click="go('/how')">How</li>
			<li class="nav-top__menu-item" ng-click="go('/partners')">Partners</li>
			<!-- <li class="nav-top__menu-item" ng-click="go('/blog')">Blog</li> -->
			<!-- <li class="nav-top__menu-item" ng-click="go('/store')">Store</li> -->
			<li class="nav-top__menu-item" ng-click="go('/contact')">Contact</li>
			</ul>
			<div class="nav-top__logo nav-top__logo--light" ng-click="go('/')"></div>
			<div class="nav-top__burger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>
	<main>
		<div class="inner-container inner-container--strategy-page">
			<div class="copy copy--light">
				<h1>Thinking</h1>
				<p>Every game is won but not just through action or ad budgets, but through effective, smart, and savy strategy. In the modern world, advertising strategies must be fluid and adaptable; moving with the media, following the audience, and keeping focus on them and the channels that they play in.</p>
			</div>
			<div class="media">
				<img src="../imgs/TAG The Agency thinking page diagram-59.png">
			</div>
			<div class="icons icons--light">
				<div class="icons__icon" ng-click="go('/vr')">
					<div class="icons__image icons__image--back icons__image--back--light"></div>
				</div>
				<div class="icons__icon" ng-click="go('/')">
					<div class="icons__image icons__image--home icons__image--home--light"></div>
					<div class="icons__text">Home</div>
				</div>
				<div class="icons__icon" ng-click="go('/done')">
					<div class="icons__image icons__image--forward icons__image--forward--light"></div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>