<div class="background background--vr"></div>
<main ng-init="setHeaderTheme('light')">
	<div class="inner-container">
		<div class="copy copy--light">
			<h1>VRStudio</h1>
			<p>Looking for VR goggles to really help users get inside your VR content? The TAG The Agency has the solution for you! Buy them, fold them, explore with them! You can purchase your very own pair of our branded VR cardboard headsets, or if you really want to leave an impression on the minds of your clients we can produce brand and deliver your very own VR cardboard goggles!<br>If cardboard isn’t to your liking then we can supply any goggles from the simplest to full complete headsets with audio and full navigation.<br>Get in touch to find out more!</p>
		</div>
		<div class="media">
			<img src="../imgs/cardboard.png">
		</div>
		<div class="icons icons--light">
			<div class="icons__icon" ng-click="go('/doing')">
				<div class="icons__image icons__image--back icons__image--back--light"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home icons__image--home--light"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--forward icons__image--forward--light"></div>
			</div>
			<div class="icons__icon" ng-click="go('/vr')">
				<div class="icons__image icons__image--vr"></div>
			</div>
			<div class="icons__icon" ng-click="go('/vr-cardboard')">
				<div class="icons__image icons__image--vr-cardboard"></div>
			</div>
			<div class="icons__icon" ng-click="openTab('https://itunes.apple.com/us/app/vrstudio/id1171505347')">
				<div class="icons__image icons__image--app"></div>
				<div class="icons__text"></div>
			</div>
		</div>
	</div>	
</main>