<!DOCTYPE html>
<html>
<head>
	<title>Tag</title>
	<!-- <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"> -->
</head>
<body>
	<header>
		<div class="nav-top nav-top--dark">
			<ul class="nav-top__menu">
				<li class="nav-top__menu-item" ng-click="go('/who')">Who</li>
				<li class="nav-top__menu-item nav-top__menu-item--current" ng-click="go('/what')">What</li>
				<li class="nav-top__menu-item" ng-click="go('/how')">How</li>
				<li class="nav-top__menu-item" ng-click="go('/store')">Store</li>
				<li class="nav-top__menu-item" ng-click="go('/contact')">Contact Us</li>
			</ul>
			<div class="nav-top__logo nav-top__logo--dark" ng-click="go('/')"></div>
			<div class="nav-top__burger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>
	<main>
		<div class="inner-container">		
			<div class="info-pages">
				<h1>The Team</h1>
				<p>Lorem ipsum dolor sit amet, cu cum nibh quas delicata, ei quaeque suavitate maiestatis sed, quem voluptaria sadipscing est et.</p>
				<div class="info-pages__content">
					<div class="team">
						<div class="team__members-wrapper">
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Jess Bovey</div>
								<div class="team__role">GM Operations</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Jaime Parlett</div>
								<div class="team__role">Account Director</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Mabel</div>
								<div class="team__role">Head of Security</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Rosa Santana</div>
								<div class="team__role">Designer</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Anna Vallance</div>
								<div class="team__role">Account Manager</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Madeline Taylor</div>
								<div class="team__role">Designer</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Dan Harris</div>
								<div class="team__role">Video Production</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Ira Ritchie Meek</div>
								<div class="team__role">Developer</div>
							</div>
							<div class="team__item">
								<div class="team__image"></div>
								<div class="team__name">Tom Reidy</div>
								<div class="team__role">Head of Innovation</div>
							</div>
						</div>
						<div class="team__bottom-copy">
							<p>Lorem ipsum dolor sit amet, singulis voluptatum intellegebat mea cu, sea ex porro etiam. Ne eum bonorum propriae efficiantur. Agam facer nobis in sit, ut dolores recteque sapientem sea. Pri ignota rationibus at. Eu nec esse dicat, odio inciderint ea nec. Eu qui noster tractatos accommodare. Eum recteque dissentiunt ex, sea natum autem at. Quas delicata at sea. Augue eruditi conceptam an sed, an eos reque utroque persequeris. Vel alia concludaturque an, eam in enim nostrud veritus. Regione nostrum mea ex, pro ea quod meis sadipscing, nec id dolor graeci.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>