<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">		
		<div class="info-pages">
			<h1>The Team</h1>
			<p>The team at TAG The Agency is a dedicated group of digital experts who are passionate about the game of social!</p>
			<div class="info-pages__content">
				<div class="team">
					<div class="team__members-wrapper">
						<div class="team__item" ng-repeat="person in staffObj">
							<div class="team__image" style="background-image: url({{person.images[0]}});" ng-click="getCurrentObj(person, $event); go('/staff')" ng-mouseenter="toggleDisplay(person, true, $event)" ng-mouseleave="toggleDisplay(person, false, $event)" data-id="{{person.id}}"></div>
							<div class="team__name">{{person.name}}</div>
							<div class="team__role">{{person.role}}</div>
						</div>
					</div>
					<div class="team__bottom-copy">
						<p>With a wide range of in-house skills and experience TAG The Agency has the gameplay to help your business win on the digital fields of social.</p>
					</div>
						<div class="icons icons">
							<div class="icons__icon" ng-click="go('/what')">
								<div class="icons__image icons__image--back icons__image--back"></div>
							</div>
							<div class="icons__icon" ng-click="go('/')">
								<div class="icons__image icons__image--home icons__image--home"></div>
								<div class="icons__text">Home</div>
							</div>
							<div class="icons__icon" ng-click="go('/how')">
								<div class="icons__image icons__image--forward icons__image--forward"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</main>
