<!-- <!DOCTYPE html>
<html>
<head>
	<title>Tag</title>
</head>
<body> -->
	<header>
		<div class="nav-top nav-top--dark">
			<ul class="nav-top__menu">
			<li class="nav-top__menu-item" ng-click="go('/what')">What</li>
			<li class="nav-top__menu-item nav-top__menu-item--active" ng-click="go('/who')">Who</li>
			<li class="nav-top__menu-item" ng-click="go('/how')">How</li>
			<li class="nav-top__menu-item" ng-click="go('/partners')">Partners</li>
			<!-- <li class="nav-top__menu-item" ng-click="go('/blog')">Blog</li> -->
			<!-- <li class="nav-top__menu-item" ng-click="go('/store')">Store</li> -->
			<li class="nav-top__menu-item" ng-click="go('/contact')">Contact</li>
			</ul>
			<div class="nav-top__logo nav-top__logo--dark" ng-click="go('/')"></div>
			<div class="nav-top__burger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>
	<main>
		<div class="inner-container">		
			<div class="info-pages">
				<h1>The Team</h1>
				<p>The team at TAG The Agency is a dedicated group of digital experts who are passionate about the game of social!</p>
				<div class="info-pages__content">
					<div class="team">
						<div class="team__members-wrapper">
							<div class="team__item" ng-repeat="person in staffObj">
								<div class="team__image" style="background-image: url({{person.images[0]}});" ng-click="getCurrentObj(person, $event); go('/staff')" ng-mouseenter="toggleDisplay(person, true, $event)" ng-mouseleave="toggleDisplay(person, false, $event)" data-id="{{person.id}}"></div>
								<div class="team__name">{{person.name}}</div>
								<div class="team__role">{{person.role}}</div>
							</div>
						</div>
						<div class="team__bottom-copy">
							<p>With a wide range of in-house skills and experience TAG The Agency has the gameplay to help your business win on the digital fields of social.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
	</footer>
<!-- </body> -->
<!-- </html> -->