<main ng-init="setHeaderTheme('dark')">
	<div class="inner-container">
		<div class="copy">
			<h1>Our Work</h1>
			<p>How do we do what we do? What have we done?</p>
			<p>Simple. We work with you and your brand to develop campaigns and content that inspires your brand and community. From fun and fantastic to the business of business; TAG The Agency can create campaigns and content that hits the mark!</p>
			<p>Need a little help with your advertising? Need it to win in social media? Not sure if your brand could play in this space? TAG us in; we'd love to play!</p>
			<!-- <h2>Wanna play?</h2> -->
		</div>
		<div class="media">
			<div class="work-examples">
				<div class="work-examples__row-1">
					<div class="work-examples__item">
						<div class="work-examples__category">Events</div>
						<div class="work-examples__title">UX New Zealand</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/Q8sTIb88cTU?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip"></div>
						<div class="loading-icon loading-icon--yellow"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Advertising</div>
						<div class="work-examples__title">Social Media Advertising</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/VmeehmS5Hpo?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Video Production</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/74gs08F50jY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip"></div>
					</div>
				</div>
				<div class="work-examples__row-2">
					<div class="work-examples__item">
						<div class="work-examples__category">Creative</div>
						<div class="work-examples__title">Facebook Apps</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/EEptGUcCBHg?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Drone Footage</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/X_bIawpAjmY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip work-examples__color-strip--full-pink"></div>
					</div>
					<div class="work-examples__item">
						<div class="work-examples__category">Production</div>
						<div class="work-examples__title">Video Campaigns</div>
						<div class="work-examples__video">
							<iframe class="videos_iframe" src="https://www.youtube.com/embed/BxQt03tX2qY?&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="work-examples__description">
							<p></p>
						</div>
						<div class="work-examples__color-strip work-examples__color-strip--half-pink"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="icons">
			<div class="icons__icon" ng-click="go('/thinking')">
				<div class="icons__image icons__image--back"></div>
			</div>
			<div class="icons__icon" ng-click="go('/')">
				<div class="icons__image icons__image--home"></div>
				<div class="icons__text">Home</div>
			</div>
			<div class="icons__icon" ng-click="go('/influencers')">
				<div class="icons__image icons__image--forward"></div>
			</div>
		</div>
	</div>
	</main>